#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  padding: 50px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  background-color: azure;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid gray;
  font-size: 35px;
  font-weight: bold;
  transition: 75ms ease-in;
}
li:hover {
  border: 2px solid;
  background-color: rgb(89, 249, 249);
}

.selected {
  background-color: rgb(89, 249, 249);
  border: 2 px solid aqua;
}

button {
  padding: 10px 15px;
  margin: 7px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 75ms ease-in;
}

button:active {
  transform: scale(0.9);
}

li:active {
  transform: scale(0.97);
}
